<h1>Ajout d'un nouveau bon Resto</h1>
<p>Restaurants#new</p>
<p>app/views/restaurants/new.html.erb</p>

<p>test!!!!!!!!!!!!</p>

<%= simple_form_for(@restaurant) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :address %>
  <%= f.text_field :address %>

  <%= f.label :phone_number %>
  <%= f.text_field :phone_number %>

  <%= f.label :category %>
  <%= f.text_field :category %>

  <%= f.submit %>
<% end %>
